$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.box {
  position: absolute;
  left: -203px;
  z-index: 2;
  top: 60px;
  background: var(--color-quaternary);
  border: 1px solid var(--color-quinary);
  box-shadow: var(--shadow-popup);
  width: 420px;
  height:349px ;
  border-radius: 0px;
  word-wrap: break-word !important;
  @include media-breakpoint-down(sm) {
    position: fixed;
    left: 0px;
    top: 142px;
    // width: 99%;
  }
}
.box:after {     //For Up Arrow
  content: '';
  display: block;
  position: absolute;
  left: 207px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-top: 10px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
hr {
  margin-top: 1rem;
  margin-bottom: 8px;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.show-notification{
  height:295px ;
  overflow-y: scroll;
  overflow-x: clip

}
.date-content{
  float: right;
    font-size: 10px;
    color: #4D4D4D;
    margin-bottom: -12px;
    margin-top: 6px;
}
 .font {
    font: normal normal 600 18px/30px Poppins;
  }
 ul {
    padding: 0px;
    margin: 0px;
    text-align: left;
    justify-content: left;
    height: 2px;
    cursor: default;
    li {
      a {
        font: normal normal 300 16px/30px Poppins;
        letter-spacing: 0px;
        display: block;
        padding: 3px 4px;
      }
      &.heading {
        a {
          text-align: center;
          font-weight: 600;
          font-size: 14px;
          padding: 5px 5px;
        }
      }
 }
    list-style-type: none;
  }

.text-content{
  font: normal normal 500 10px/9px Poppins;
}
.text {
  font: normal normal 300 19px/50px Poppins;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
  margin-top: 107px;
}
.bot-Image{
  height: 35px;
  width: 35px;
  border-radius: 19px;
  box-shadow: 0px 0px 2px var(--color-tertiary);
  // padding-top: 7px;
  background-color:#607AE6 !important;
}
.notification-msg{
  font: normal normal 500 12px/20px Poppins;
  word-break: break-word;

}
.rows{
 flex-wrap: wrap !important;
    margin: 0;
    padding: 0;
}


