<div class="mt-4">
    <div class="row  pl-5 col-12 justify-content-center w-100 modal-title-entity">
      <span class=" mt-2" >ADD ENTITY
      </span>
    </div>
    <div class="pr-4 pl-4 mt-4">
      <div class="form-group">
        <label>Entity</label>
        <input type="text" name="entity" id="entity" class="form-control input-auth" placeholder="Enter Entity Name"
          [(ngModel)]="entityName"/>
      </div>

      <div class="form-group">
        <div class="radio-items-parent">
          <div class="radio-item">
            <input type="radio" [(ngModel)]="entityType" id="entityType1" name="entityType" value="1"/>
            <label for="entityType1">Synonym Entity</label>
          </div>
          <div class="radio-item">
            <input type="radio" [(ngModel)]="entityType" id="entityType2" name="entityType" value="2" />
            <label for="entityType2">Regex Entity</label>
          </div>
          <div class="radio-item">
            <input type="radio" [(ngModel)]="entityType" id="entityType3" name="entityType" value="3" />
            <label for="entityType3">List Entity</label>
          </div>
        </div>
      </div>
      <div class="w-100 d-flex flex-wrap">
        <div class="synonym-container d-flex" *ngFor="let synonym of synonyms; let i = index">
          <span class="synonym-name">{{ synonym }}</span>
          <img class="pointer synonym-remove" src="assets/img/close.png" width="10px" height="10px"
            (click)="removeSynonym(i)" />
        </div>
      </div>
      <div class="w-100 d-flex justify-content-center  mb-4">
        <button class="btn btn-shona w-100" (click)="close()">
          Cancel</button>&nbsp;&nbsp;
        <button  class="btn btn-primary w-100" (click)="addEntities()">
           Add Entity
        </button>
      </div>
    </div>
</div>
