.title {
  font: normal normal 700 20px/10px Poppins;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}
.text-main {
  text-align: left;
  font: normal normal 600 17px/24px Poppins;
  letter-spacing: 0px;
}
