.heading {
  background-color: #ededed;
  font: normal normal 400 16px/30px Poppins;
  letter-spacing: 0px;
  margin-top: 15px;
  padding-left: 12px;
  font-weight: 600;
  color: var(--color-tertiary);
  text-transform: capitalize;
}
.img-icon {
  width: 24px;
  height: 24px;
}
.detail-font-color {
  // color: #4d4d4d;
  font: normal normal 400 15px/25px Poppins;
}
.config-color {
  color: #1732a4;
  cursor: pointer;
}
.sub-channel-heading{
  font: normal normal 500 15px/18px Poppins;
}
.sub-name{
  font: normal normal 400 15px/27px Poppins;

}
