<!-- <div class="row w-100 mt-3 col-md-12 text-right justify-content-end">
  <img
    src="assets/img/close.png"
    height="16px"
    width="16px"
    class="pointer"
    (click)="cancel()"
  />
</div>
<div
  class="row w-100 mt-0 col-md-12 text-center justify-content-center heading-text"
>

</div> -->

<div class="row">
  <div class="col-md-12 d-flex justify-content-center mt-3 font-weight-bold font-styling">About the Platform</div>
</div>

<div class="row">
  <div class="col-md-12  ml-4 mt-4 font-heading">Polynomial One Offers two services according to your need</div>
</div>
<div class="d-flex">
  <div class="row  w-100  ">
    <div class="col-md-6 col-lg-6 col-6 pl-4 mb-1 ">
      <div class="brains-outer-container  ">
        <div class=" d-flex justify-content-between  ">
          <span class="mb-2">
            <h6 class="font-style-heading"> 1. Expressions As A Service</h6>
          </span>
          <span class="mb-3"><img src="assets/img/coco.svg" height="40px" width="40px" /></span>
        </div>
        <div class="para-style pr-4 pl-2">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque adipisci, animi natus soluta incidunt
            asperiores fugiat doloremque excepturi expedita sapiente ipsum quos officiis aliquam fugit qui quia possimus
            magni illum?</p>
          <p>i. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores! </p>
          <p>ii. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores!</p>
          <p>iii. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores!</p><br>
        </div>
      </div>
      <button type="button" class="btn btn-shona mt-0 mb-5 " type="submit">
        Start my Tutorial
      </button>
    </div>
    <div class="col-md-6 col-lg-6 col-6 pl-3 pr-3">
      <div class="brains-outer-container mr-3">
        <div class=" d-flex justify-content-between">
          <span class="mb-2">
            <h6 class="font-style-heading"> 1. Insights As A Service</h6>
          </span>
          <span class="mb-4"><img src="assets/img/lens.svg" height="32px" width="32px" /></span>
        </div>
        <div class="para-style">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque adipisci, animi natus soluta incidunt
            asperiores fugiat doloremque excepturi expedita sapiente ipsum quos officiis aliquam fugit qui quia possimus
            magni illum?</p>
          <p>i. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores! </p>
          <p>ii. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores!</p>
          <p>iii. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores!</p><br>
        </div>
      </div>
      <button type="button" class="btn btn-plan mt-0  mb-5">Know More About Product</button>
    </div>
  </div>

</div>
