.title {
  font: normal normal 500 24px/30px Poppins;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}
.btn-shona {
  padding: 2px 32px;
box-shadow: none;
}

.text {
  font: normal normal 20px/30px;
  letter-spacing: 0.24px;
  color: #4d4d4d;
}

.agent-details{
  margin-top: 34px;
}
.mail {
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}
