<div class="container-fluid mt-2 p-2">
  <div class="row float-right ">

  </div>

  <div class="col-md-12 justify-content-center text-center agent-details">
    <span class="text ">You have exceeded the limit to create agent , if you want to create more agents please contact us on <span
      class="mail">coco@polynomial.ai </span></span>
  </div>

  <div class="text-center">
    <div  class="justify-content-center text-center w-100">
      <button class="btn btn-shona mt-4 mb-4"   (click)="redirectToHome()">
        Return To Home
      </button>
    </div>
  </div>
</div>

