.sub-heading-publish{
  font: normal normal 500 15px/25px Poppins !important;
}
.publish-details{
font: normal normal 400 14px/18px Poppins !important;
}
.delete-alignment{
  margin-top: -2px !important;
}
.word-break{
  word-break: break-word;
}
