<div class="ml-81">
  <div class="row col-12 mb-0">
    <p class="mb-0">
      <span class="top-heading top-heading-container">&nbsp;&nbsp;INTEGRATIONS</span>
    </p>
  </div>
  <div class="row col-lg-12 col-md-12 mt-3 pr-0 mr-0 w-100">
    <div class="w-100 d-flex justify-content-between">
      <nav class="w-100">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <ng-container>
            <a class="nav-link nav-item active text-center" id="'available'" data-toggle="tab" role="tab"
              aria-controls="available" aria-selected="true" [class.active]="tab == 'available'"
              (click)="tab = 'available'">
              <div class="justify-content-center">
                <span class="tab-title" [ngClass]="{ 'tab-title-active': tab == 'available' }">
                  Available API
                </span>
              </div>
            </a>
          </ng-container>
        </div>
      </nav>
      <div class="form-group flex-grow-1 w-40 d-flex">
        <input placeholder="Search" type="text" name="query" (keyup)="searchIntegrations()" [(ngModel)]="searchQuery"
          value="" class="form-control input-auth"  style="width:371.61px" />
          <button class="btb btn-primary-search" (click)="searchEntities()">
            <img class="search-icon" src="assets/img/Search icon.svg">
          </button>
      </div>
      <button class="btn btn-shona ml-3" type="submit" (click)="addAPI()">
        Add API
      </button>
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 pr-0 mr-0 w-100">
    <div class="tab-content w-100 mt-4 pl-3" id="nav-tabContent">
      <div class="tab-backgroud tab-pane fade show active" id="available" role="tabpanel"
        [class.active]="tab == 'available'" aria-labelledby="available">
      </div>
      <app-available-api *ngIf="apiList && apiList.length || searchQuery || searchQuery==''; else noIntegration" [availableApiData]="apiList"></app-available-api>
    </div>
  </div>
  <ng-template #noIntegration>
    <div class="nodata">
      <img src="assets/img/no-data.svg" class="no-found-img">
      <div class="mb-5">
        <span class="text mt-0"> No available integration </span>
      </div>
    </div>
  </ng-template>
</div>
