@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.no-found-img {
  top: 398px;
  left: 667px;
  width: 616px;
  height: 367px;
}
.text {
  font: normal normal 300 30px/50px Poppins;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}
.input-auth {
  border-radius: 24px !important;
}
.btn-primary-search {
  font-size: 14px !important;
  border-radius: 0px 17px 17px 0px;
  padding: -1px 23px;
  background: #1732a4;
  background-color: #1732a4 !important;
  margin-left: -56px;
  padding: 0px 16px;
  border: none;
}
.search-bar{
  width: 35%;
}
.nav-tabs{
  border-bottom: 0px;
}
