<ngx-ui-loader bgsColor="#093AE0" fgsColor="#093AE0" pbColor="#093AE0" [bgsOpacity]=0.5 [bgsSize]="60" bgsType="circle"
  blur="1" delay="0" fastFadeOut="true" fgsPosition="center-center" [fgsSize]="140" fgsType="circle" [gap]="1"
  logoPosition="center-center" [logoSize]="120" logoUrl="" masterLoaderId="master" overlayColor="rgba(255,255,255,0.8)"
  overlayBorderRadius="0" pbDirection="ltr" [pbThickness]="3" [hasProgressBar]="true" maxTime="-1" minTime="300">
</ngx-ui-loader>
<router-outlet></router-outlet>
<app-footer></app-footer>