.no-found-img {
    top: 398px;
    left: 667px;
    width: 616px;
    height: 367px;
  }
  .text {
    font: normal normal 300 30px/50px Poppins;
    letter-spacing: 0px;
    color: #adadad;
    opacity: 1;
  }
  .user-sub-body-div-subtext {
    /* font: normal normal 300 14px/30px Poppins; */
    font: normal normal normal 14px/25px Poppins;
    letter-spacing: 0px;
    color: var(--color-tertiary);
    text-transform: capitalize;
    opacity: 1;
    border-bottom: 2px solid #ededed;
}
.user-sub-heading-div-heading{
  font: normal normal 500 14px/25px Poppins;
  border-bottom: 2px solid #ededed;
}
