.sub-heading-entities{
  font: normal normal 500 14px/25px Poppins !important;
}
.sub-heading-details{
  font: normal normal 400 13px/25px Poppins !important;
}
.no-data {
  font: normal normal 300 30px/50px Poppins;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}











