

<div class="w-100 text-left pr-4 pl-5 pt-4 pb-4"  >

  <div>
    <label class="heading-text">Your changes will disappear if you havent updated the changes!!
    </label>
    <label class="heading-text mb-4" > Are you sure you want to go back?</label>
  </div>
  <div>


  </div>
  <div class="w-100 d-flex justify-content-center mt-3">
    <button class="mr-3 btn btn-cancel" (click)="goBack()">
      Yes
    </button>
    <button class="btn btn-shona" (click)="close()">No</button>
  </div>
</div>

